*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        "header header header"
        "fotopanoramica fotopanoramica sidebar"
        "contenido contenido sidebar"
        "Recomendados Recomendados sidebar"
        "footer footer footer"
    ;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.5rem;
}
.header{
    background-color: navy;
    color: white;
    grid-area: header;
    line-height: 1.5;
    padding: 10px;
    border-radius: 4px;
}
/* NAVBAR */
.barra_navegacion{
    display: flex;
    flex-direction: flex-row;
    justify-content: start;
}
.flex_nav{
    font-size: 1rem;
    background-color: red;
    margin: 1px;
    padding: 8px;
    border-radius: 15px;
    font-style: normal;
}
.contenido{
    padding: 10px;
    border: 4px;
    line-height: 1.5;
    grid-area: contenido;
}
.viajemain img{
    float: right;
}
.sidebar{
    margin: 10px;
    padding: 30px;
    border: 10px;
    grid-area: sidebar;
    background-color: darkcyan;
}
.sidebar img{
    width: 90%;
    float: left;
    opacity: 1;
}
.sidebar img:hover{
    opacity: 0.5;
    border:white solid 1px;
}
.fotopanoramica{
    margin: 1px;
    padding: 1px;
    background-color: black;
    grid-area: fotopanoramica;
}
.fotopanoramica img{
    width: 100%;

    
}
.ViajerosMain{
    background-color: blue;
    padding: 2%;
    margin: 2%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
}

.ViajerosMain img{
    width: 100%;
}

.ViajerosMain div{  
    background-color: cornflowerblue;
    align=center
    border-color: #8C0410;
    border-style: solid;
    border-radius: 19px;
}
.ViajerosMain h3{
    font-family: cursive;       
    font-size: 1rem;
    font-weight: normal;
    text-align: center; 
}
.ViajerosMain img{
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

.ViajerosMain img:hover{
    opacity: 0.5;
    border:white solid 1px;
}
/* ***recomendados**** */
.Recomendados{
    background-color: rgb(49, 49, 54);
    padding: 2%;
    margin: 2%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 1%;
}

.Recomendados img{
    opacity: 1;
    width: 100%;
}

.Recomendados img:hover{
    opacity: 0.5;
    border:white solid 1px;
}
.Recomendados div{  
    background-color: cornflowerblue;
    align=center
    border-color: #8C0410;
    border-style: solid;
    border-radius: 19px;
}
.Recomendados p{
    font-weight: normal;
    text-align: center;
    
}
/* ***Fin recomendados**** */
.footer{
    background-color: navy;
   /* color: white;*/
    grid-area: footer;
    padding: 20px;
    border-radius: 4px;
}
.nav{
	position: static;
	bottom: 70px;
	left: 500px;